.contact {
  padding-right: 14%;
  @include tablets {
      padding: 0;
  }
}

.contact__title {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 10%;
  @include tablets {
    font-size: 30px;
    text-align: center;
    padding-bottom: 6%;
  }
  @include phones {
    font-size: 24px;
  }
}
