.feedback {
  background: url("../images/content/bg/autumn.jpg") no-repeat center top / cover;
}

.feedback__container {
  padding: 8% 26% 11% 0;
  @include desktop {
    padding: 8% 8% 11% 0;
  }
  @include tablets {
    padding: 15% 0;
  }
}
