.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 60px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  text-decoration: none;
  opacity: 0.8;

  &:hover {
    color: orange;
    transition: .3s
  }
}
