.parallax-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax-header__item {
  position: absolute;
  &__1 {
    top: 0;
    left: 0;
  }
  &__2 {
    margin-top: 530px;
    top: 0;
    left: 0;
  }
  &__3 {
    margin-top: 960px;
    top: 0;
    left: 0;
  }
}
