.scroll-down-btns {
  display: flex;
  align-items: center;
  background: transparent;
  color: #736f6b;
  font-size: 18px;
  font-weight: 800;
  outline: none;
}

.scroll__down {
  width: 30px;
  height: 30px;
  fill: #736f6b;
}
