.skills-group__title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 5%;
}

.skills-group__items {
  display: flex;
}

.skills-group__item {
  margin-right: 70px;

  &:last-child {
    margin-right: 0;
  }
}