.tags {
  display: flex;
  @include tablets {
    justify-content: center;
  }
  @include phones {
    justify-content: flex-start;
  }
}

.tags__item {
  background: #f3f5f9;
  padding: 18px 20px;
  margin-right: 10px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  &:last-child {
    margin-right: 0;
  }
}
