.works {
  color: #000;
}

.works__container {
  padding: 11% 0 10%;
  @include desktop {
    padding: 11% 2% 12%;
  }
  @include phones {
    padding: 25% 0;
  }
}

.works-section__title {
  @include phones {
    text-align: center;
    padding-bottom: 10%;
    font-size: 24px;
  }
}
