.parallax-header
  .parallax-header__item.parallax-header__item__1
    +image("content/bg/TrainBridge.jpg", "paralax-header__img")
  .parallax-header__item.parallax-header__item__2
    +image("content/bg/heroBgTwo.png", "paralax-header__img")
  .parallax-header__item.parallax-header__item__3
    +image("content/bg/heroBgThree.png", "paralax-header__img")