section.skills
  .skills-img
    +image("content/skills-hands.png", "skills-pic")

  .container.skills__container
    .skills__title
      h2.section__title.skills-section__title Чем я могу быть полезен вам
      .skills__desc
        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

    #skills-component