script(type="text/x-template")#slider-container
  .works-slider
    display(
      :works="works"
      :current-work="currentWork"
    )
    info(
      :current-work="currentWork"
    )

script(type="text/x-template")#slider-display
  .works-left
    .slider
      img(:src="currentWork.photo").fullpic
      thumbs(
        :works="works"
      )
      btns()
    .slider__number 2

script(type="text/x-template")#slider-thumbs
  .slider__preview
    ul.previews
      li.previews__item(
        v-for="work in works"
        :key="work.id"
      )
        img(:src="work.photo").previews__pic

script(type="text/x-template")#slider-btns
  .slider__buttons
    .slider__button
      button.slider-buttons__item.slider-buttons__item_slide_prev
        +icon("scroll-arrow", "slider-button__scroll")
      button.slider-buttons__item.slider-buttons__item_slide_next
        +icon("scroll-arrow", "slider-button__scroll")    

script(type="text/x-template")#slider-info
  .works-right
    tags()
    .works__text
      h3.works__title Сайт школы образования
      .works__desc-text
        p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
        a(href="#").iconed-link
          +icon("Link", "iconed-link__icon")
          .iconed-link__text Посмотреть сайт

script(type="text/x-template")#slider-tags
  .works__tags
    ul.tags
      - var tags = ['HTML', 'CSS', 'JavaScript']
      each tag in tags
        li.tags__item #{tag}