include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(src="https://cdn.jsdelivr.net/npm/vue@2.6.0")
    title Portfolio | Azamat
  body
    .wrapper
      .welcome-section
        include pug/parallax-header
        include pug/hero
        include pug/about

      include pug/skills

      include pug/works

      include pug/feedback

      include pug/footer

    include ./templates/entry.pug